version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: laravel-react-app
    container_name: laravel_app
    restart: unless-stopped
    working_dir: /var/www/html
    ports:
      - "80:80"
      - "5173:5173"
    volumes:
      - ./:/var/www/html:cached
    environment:
      - LARAVEL_SAIL=1
      - APP_URL=http://localhost:8000
    networks:
      - laravel

networks:
  laravel:
    driver: bridge