version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: laravel-react-app
    container_name: laravel_app
    restart: unless-stopped
    working_dir: /var/www/html
    # Portas removidas pois o Caddy gerencia a entrada agora
    volumes:
      - ./:/var/www/html
    environment:
      - LARAVEL_SAIL=1
      - APP_URL=https://ongsavi.com.br
    networks:
      - laravel

  caddy:
    image: caddy:latest
    container_name: caddy_server
    restart: unless-stopped
    ports:
      - "80:80"   # Porta HTTP
      - "443:443" # Porta HTTPS (Segura)
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config
    depends_on:
      - app
    networks:
      - laravel

networks:
  laravel:
    driver: bridge

volumes:
  caddy_data:
  caddy_config: